<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <connectionStrings>
        <add name="Data"
             connectionString="Data Source=SQL01\PRODUCTION;Initial Catalog=VirariumData;Integrated Security=True"
             xdt:Transform="SetAttributes(connectionString)"
             xdt:Locator="Match(name)"/>
        <add name="Elmah"
             connectionString="Data Source=SQL01;Initial Catalog=Elmah;Integrated Security=True"
             xdt:Transform="SetAttributes(connectionString)"
             xdt:Locator="Match(name)"/>
    </connectionStrings>
    <system.web>
        <compilation xdt:Transform="RemoveAttributes(debug)" />
    </system.web>
</configuration>