<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
    <configSections>
        <section name="log4net"
                 type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
        <section name="hibernate-configuration"
                 requirePermission="false"
                 type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate" />
        <sectionGroup name="elmah">
            <section name="security"
                     requirePermission="false"
                     type="Elmah.SecuritySectionHandler, Elmah" />
            <section name="errorLog"
                     requirePermission="false"
                     type="Elmah.ErrorLogSectionHandler, Elmah" />
            <section name="errorMail"
                     requirePermission="false"
                     type="Elmah.ErrorMailSectionHandler, Elmah" />
            <section name="errorFilter"
                     requirePermission="false"
                     type="Elmah.ErrorFilterSectionHandler, Elmah" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Data"
             connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=VirariumData;Integrated Security=True;Pooling=False;"
             providerName="System.Data.SqlClient" />
        <add name="Elmah"
             connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=ELMAH;Integrated Security=True;Pooling=False"
             providerName="System.Data.SqlClient" />
    </connectionStrings>
    <appSettings>
        <add key="webpages:Version"
             value="1.0.0.0" />
        <add key="ClientValidationEnabled"
             value="true" />
        <add key="UnobtrusiveJavaScriptEnabled"
             value="true" />
        <add key="elmah.mvc.disableHandler"
             value="false" />
        <add key="elmah.mvc.requiresAuthentication"
             value="false" />
        <add key="elmah.mvc.allowedRoles"
             value="*" />
        <add key="elmah.mvc.route"
             value="elmah" />
    </appSettings>
    <system.web>
        <compilation debug="true"
                     targetFramework="4.0">
            <assemblies>
                <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
                <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
                <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
                <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
                <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
            </assemblies>
        </compilation>
        <pages>
            <namespaces>
                <add namespace="System.Web.Helpers" />
                <add namespace="System.Web.Mvc" />
                <add namespace="System.Web.Mvc.Ajax" />
                <add namespace="System.Web.Mvc.Html" />
                <add namespace="System.Web.Routing" />
                <add namespace="System.Web.WebPages" />
            </namespaces>
        </pages>
        <httpModules>
            <add name="ErrorLog"
                 type="Elmah.ErrorLogModule, Elmah" />
            <add name="ErrorMail"
                 type="Elmah.ErrorMailModule, Elmah" />
            <add name="ErrorFilter"
                 type="Elmah.ErrorFilterModule, Elmah" />
        </httpModules>
    </system.web>
    <system.webServer>
        <modules runAllManagedModulesForAllRequests="true">
            <add name="ErrorLog"
                 type="Elmah.ErrorLogModule, Elmah"
                 preCondition="managedHandler" />
            <add name="ErrorMail"
                 type="Elmah.ErrorMailModule, Elmah"
                 preCondition="managedHandler" />
            <add name="ErrorFilter"
                 type="Elmah.ErrorFilterModule, Elmah"
                 preCondition="managedHandler" />
        </modules>
        <validation validateIntegratedModeConfiguration="false" />
    </system.webServer>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="System.Web.Mvc"
                                  publicKeyToken="31bf3856ad364e35" />
                <bindingRedirect oldVersion="1.0.0.0-2.0.0.0"
                                 newVersion="3.0.0.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
    <hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
        <session-factory>
            <property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
            <property name="dialect">NHibernate.Dialect.MsSql2008Dialect</property>
            <property name="connection.connection_string_name">Data</property>
            <property name="show_sql">true</property>
            <property name="format_sql">true</property>
            <property name="current_session_context_class">web</property>
            <property name="hbm2ddl.auto">validate</property>
            <mapping assembly="Ogd.Virarium.Data" />
        </session-factory>
    </hibernate-configuration>
    <elmah>
        <errorLog type="Elmah.SqlErrorLog, Elmah"
                  connectionStringName="Elmah" />
        <security allowRemoteAccess="1" />
    </elmah>
    <log4net>
        <appender name="NHibernateFileLog"
                  type="log4net.Appender.FileAppender">
            <file value="logs/nhibernate.log" />
            <appendToFile value="true" />
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%d{HH:mm:ss.fff} [%t] %-5p %c - %m%n" />
            </layout>
        </appender>
        <logger name="NHibernate.SQL"
                additivity="true">
            <level value="ALL" />
            <appender-ref ref="NHibernateFileLog" />
        </logger>
    </log4net>
</configuration>