<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Ogd.Virarium.Data.Migrations.MigrationSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Ogd.Virarium.Data.Migrations.MigrationSettings>
            <setting name="Provider" serializeAs="String">
                <value>SqlServer</value>
            </setting>
            <setting name="DEBUG" serializeAs="String">
                <value>Data Source=.\SQLEXPRESS;Initial Catalog=VirariumData;Integrated Security=True;Pooling=False;</value>
            </setting>
            <setting name="PRODUCTION" serializeAs="String">
                <value>Data Source=.\SQLEXPRESS;Initial Catalog=VirariumData;User ID=sa-Data;Password=abcd1234;Trusted_Connection=False;</value>
            </setting>
        </Ogd.Virarium.Data.Migrations.MigrationSettings>
    </userSettings>
</configuration>