@model VLanViewModel
@using System
@using Ogd.Virarium.Domain.Models
@using Ogd.Virarium.Web.Models
<div id="@string.Format("vlan_{0}", @Model.Id)" class="vlan @(((IDictionary<int, string>)ViewBag.vlanColors)[Model.Id])">
    <div class="name">
        @Model.Name
    </div>
</div>
