body {
    background-image: url('images/virarium.jpg');
}

div {
    position: relative;
}

div.virarium {
    display: block;
    top: 140px;
    height: 700px;
    width: 1280px;
    margin: 0;
    padding: 0;
}

.virarium div.vlan {
    display: block;
    background-color: Yellow;
    width: 100px;
    height: 100px;
    margin: 5px;
    float: left;
}

.virarium div.machine {
    display: block;
    background-image: url('images/computer.png');
    background-color: Green;
    width: 100px;
    height: 100px;
    margin: 5px;
    float: left;
}

div.name {
    display: block;
    color: Black;
}

.machine > div.number_of_infections {
    display: block;
    position: relative;
    color: Black;
    left: 10px;
    top: 20px;
}

.machine > div.list_of_infections {
    display: none;
    position: relative;
    background-color:   Aqua;
    left: 80px;
    top: -30px;
}

.list_of_infections div {
    color: Blue;
}

div.newline {
    display: block;
    clear: both;
    width: 100px;
    height: 100px;
}
