body {
    background-image: url('images/virarium.jpg');
    margin: 0;
    padding: 0;
}

div {
    margin: 0;
    padding: 0;
    width: 100%;
}

div.virarium {
    display: block;
    position: absolute;
    top: 160px;
    height: 700px;
}

div#ToggleRefresh {
    position: absolute;
    top: 860px;
    height: 40px;
    padding: 0 10px;
}

.virarium div.vlan {
    display: block;
    background-image: url('images/vlan_White.png');
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    width: 100px;
    height: 46px;
    margin: 5px;
    float: left;
}

.virarium div.vlan.Aqua {
    background-image: url('images/vlan_Aqua.png');
}

.virarium div.vlan.Blue {
    background-image: url('images/vlan_Blue.png');
}

.virarium div.vlan.Fuchsia {
    background-image: url('images/vlan_Fuchsia.png');
}

.virarium div.vlan.Green {
    background-image: url('images/vlan_Green.png');
}

.virarium div.vlan.Lime {
    background-image: url('images/vlan_Lime.png');
}

.virarium div.vlan.Maroon {
    background-image: url('images/vlan_Maroon.png');
}

.virarium div.vlan.Olive {
    background-image: url('images/vlan_Olive.png');
}

.virarium div.vlan.Orange {
    background-image: url('images/vlan_Orange.png');
}

.virarium div.vlan.Purple {
    background-image: url('images/vlan_Purple.png');
}

.virarium div.vlan.Red {
    background-image: url('images/vlan_Red.png');
}

.virarium div.vlan.Silver {
    background-image: url('images/vlan_Silver.png');
}

.virarium div.vlan.Teal {
    background-image: url('images/vlan_Teal.png');
}

.virarium div.vlan.White {
    background-image: url('images/vlan_White.png');
}

.virarium div.vlan.Yellow {
    background-image: url('images/vlan_Yellow.png');
}

.virarium div.machine.Green {
    background-image: url('images/vpc_fase_Green.png');
}

.virarium div.machine.Red {
    background-image: url('images/vpc_fase_Red.png');
}

.virarium div.machine.Yellow {
    background-image: url('images/vpc_fase_Yellow.png');
}

.virarium div.machine.Orange {
    background-image: url('images/vpc_fase_Orange.png');
}

.virarium div.machine {
    display: block;
    background-image: url('images/vpc_fase_White.png');
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    width: 65px;
    height: 70px;
    margin: 10px 5px;
    border: 2px solid transparent;
    float: left;
    z-index: 1;
}

.virarium .machine.secure {
    border: 2px solid #009900;
}

.machine > div.name {
    color: White;
    text-align: center;
    bottom: -60px;
}

.vlan > div.name {
    color: Black;
    top: 8px;
    right: 20px;
    width: 100%;
    text-align: right;
    font-size: 12px;
}

div.name {
    display: block;
    position: relative;
    height: 10px;
    font-size: 10px;
    width: 100%;
    font-weight: bold;
}

.machine > div.number_of_infections {
    display: none;
    left: 10px;
    top: 20px;
}

.machine > div.list_of_infections {
    display: none;
    position: relative;
    background-color: Olive;
    left: 80px;
    top: -30px;
    z-index: 10;
}

div.list_of_infections ul{
    list-style-type: none;
    list-style-position: outside;
    list-style-image: none;
    margin: 0;
    padding: 4px;
}

div.list_of_infections li {
    color: White;
    font-size: 10px;
    margin: 2px 0;
}

div.newline {
    display: block;
    clear: both;
    width: 50px;
    height: 150px;
}
