body {
    background-image: url('images/bg.jpg');
}

div {
    position: relative;
}

div.virarium {
    display: block;
    top: 140px;
    height: 900px;
    width: 1280px;
    margin: 0;
    padding: 0;
    border: 1px dotted Green;
}

.virarium div.vlan {
    display: block;
    background-image: url('images/switch.png');
    background-position: center;
    background-repeat: no-repeat;
    background-color: Yellow;
    width: 50px;
    height: 50px;
    margin: 5px;
    float: left;
}

.virarium div.machine.Green{
    background-image: url('images/vpc_fase_Green.png');
}

.virarium div.machine.Red{
    background-image: url('images/vpc_fase_Red.png');
}

.virarium div.machine.Yellow{
    background-image: url('images/vpc_fase_Yellow.png');
}

.virarium div.machine.Orange{
    background-image: url('images/vpc_fase_Orange.png');
}

.virarium div.machine {
    display: block;
    background-image: url('images/vpc_fase_Green.png');
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    width: 80px;
    height: 50px;
    margin: 5px;
    float: left;
}

div.name {
    display: none;
    color: Black;
}

.machine > div.number_of_infections {
    display: none;
    position: relative;
    color: Black;
    left: 10px;
    top: 20px;
}

.machine > div.list_of_infections {
    display: none;
    position: relative;
    background-color: Aqua;
    left: 80px;
    top: -30px;
}

.list_of_infections div {
    color: Blue;
}

div.newline {
    display: block;
    clear: both;
    width: 50px;
    height: 50px;
}
