@model IndexViewModel
@using Ogd.Virarium.Web.Models.Home
@using Ogd.Virarium.Resources.Web.Views.Shared
@using Ogd.Virarium.Domain.Models
@{
    ViewBag.Title = SharedStrings.Product;
}
<script type="text/javascript">
    function Refresh() {
        $('#virarium').load('@Url.Action("UpdateVirarium")');
        setTimeout("Refresh()",1000);
    };

    $(document).ready(function () {
        setTimeout("Refresh()", 1000);
    });

    $('div.machine').hover(
        function () {
            $(this).find('div.list_of_infections').toggle();
        }
    );
</script>
<div id="virarium" class="virarium">
    @Html.Partial("ViewObjects/Virarium", Model)
</div>
