@model IndexViewModel
@using Ogd.Virarium.Web.Models.Home
@using Ogd.Virarium.Resources.Web.Views.Shared
@using Ogd.Virarium.Domain.Models
@{
    ViewBag.Title = SharedStrings.Product;
}
<div id="virarium" class="virarium">
    @Html.Partial("ViewObjects/Virarium", Model)
</div>
<div id="ToggleRefresh">
    <button onclick="toggleRefresh(this);">
        Disable autorefresh</button>
</div>
<script type="text/javascript">
    var doRefresh = true;

    function refresh() {
        if (doRefresh) {
            $('#virarium').load('@Url.Action("UpdateVirarium")');
            setTimeout("refresh()", 1000);
        }
    };

    function toggleRefresh(element) {
        doRefresh = !doRefresh;
        if (doRefresh) {
            $(element).html('Disable autorefresh');
            setTimeout("refresh()", 1000);
        } else {
            $(element).html('Enable autorefresh');
        }
    };

    function showVirusList(element) {
        $(element).find('div.list_of_infections').show();
    }

    function hideVirusList(element) {
        $(element).find('div.list_of_infections').hide();
    }

    $(document).ready(function () {
        setTimeout("refresh()", 1000);
    });

</script>
