@model IndexViewModel
@using Ogd.Virarium.Web.Models.Home
@using Ogd.Virarium.Resources.Web.Views.Shared
@{
    ViewBag.Title = SharedStrings.Product;
}
<script type="text/javascript">
    function Refresh() {
        //location.reload();
    };

    $(document).ready(function () {
        setTimeout("Refresh()", 500);
    });
</script>
<div class="virarium">
    @foreach(var machine in Model.Machines)
    {
        @Html.Partial("ViewObjects/Machine", machine)
    }
</div>
